# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
env/
venv/

# Ignore dataset if too large or sensitive
datasets/

# Ignore temporary and cache files
temp_dataset.txt

# Ignore other temporary files
*.tmp
*.log
